/* ======== fonts ======== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    max-width: 68.75rem; /* 1100px */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#check-mark {
    animation: checkmark 0.5s ease-in-out infinite alternate;
}
#dot_1,
#dot_2,
#dot_3 {
    fill: #e6e6e6;
}
#dot_1 {
    animation: dot;
    animation-duration: 1s;
    animation-delay: 0s;
}
#dot_2 {
    animation: dot;
    animation-duration: 1s;
    animation-delay: 1s;
}
#dot_3 {
    animation: dot;
    animation-duration: 1s;
    animation-delay: 2s;
}
@keyframes checkmark {
    from {
        transform: translateY(-4%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes dot {
    from {
        fill: #e6e6e6;
    }
    to {
        fill: #8b5cf6;
    }
}
